*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.site-header{
  
    width: 100%;
    position:relative;
    
}
.site-header .main-top-bar{
    
    display: grid;
    position: relative;
    height: 100px;
    grid-template-columns: 0.5fr auto;
    background-color: #0D519B;
    align-items: center;
    font-family: 'Play', sans-serif;
    
}

.main-top-right{
    align-items: center;
 
}
.element-right{
    display: flex;
    align-items: center;
    padding-left: 40%;
    gap: 6%;
}
.element-right .atencion-content{
    display: flex;
    align-items: center;

    
}.element-right .atencion-content .atencion-text-content{
    padding-left: 1rem;
}
.element-right .atencion-content .atencion-text{
    align-items: center;
   
    
}
.element-right .atencion-content .atencion-text p{
    color:  #FFCC00;
    margin-bottom: 0;
    margin-top: 15px;
  
}
.element-right .atencion-content .phone-text{
    color: white;
}
.element-right .login-content{
    display: flex;
    align-items: center;
   
}

.element-right .login-content a{
    text-decoration: none;
    color: white;
    font-size: 16px;
}
nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
}
  
nav li {
    flex: 1;
    text-align: center;
}
  
nav a {
    display: block;
    padding-left: 3rem;
    padding-right: 4rem;
    justify-content: space-between;
    text-decoration: none;
    color: #0D519B
}
ul li a:hover{
    color: grey;
}
.navigation-container{
    display: inline;
    font-family:'Play', sans-serif; ;
    font-size: 28px;
    width: 100%;
    top: 100px;
    align-items: center;
    text-align: center;
    background-color: #D9D9D9;
}
.navigation-content{
    display: flex;
    align-items: center;
    text-align: center;
    height: 100px;
    background-color: #D9D9D9;
    justify-content: space-between;
}
.navigation-content .navigation-menu{
    padding-left: 6rem;
}
  
.navbar-nav .nav-link.active{
    color:rgba(0, 0, 0, 0.42);
}
.navigation-menu .navbar-nav li{
    padding-right: 6rem;
}
.navigation-menu .navbar-nav li a{
    color: #0D519B;
}
.navigation-content .navigation-cart{
    display: flex;
    gap: 10%;
    padding-left: 0;
    padding-right: 3rem;
}

.navigation-content .navigation-cart  .btn-tiendas{
    height: 60px;
    width: 240px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FFCC00;
    border: none;
    border-radius: 25px;
    padding: 10px 15px 10px 12px;
    cursor: pointer;
    font-family:'Play', sans-serif; ;
    color: #0D519B;
    font-size: 18px;
   
}

.navigation-content .navigation-cart .btn-carrito{
    height: 60px;
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FFCC00;
    border: none;
    border-radius: 25px;
    padding: 10px 15px 10px 12px;
    cursor: pointer;
    font-family:'Play', sans-serif; ;
    color: #0D519B;
    font-size: 18px;
}

.page-content-wrapper .home-container .carousel-desk img{
    width: 100%;
    margin-top: 0px;
    height: 35rem;
}

.carousel-inner img {
    height: 35rem;
}


  .nosotros{
    display: flex;
}

.nosotros .carousel{
   padding: 5rem;
}
.nosotros{
    font-family: 'Play', sans-serif;
}
.nosotros .text-container{
    padding: 140px;
    text-align: center;
}

.nosotros .btn-more-info{
    
    text-align: center;
    align-items: center;
    
}
.nosotros .btn-more-info button{
   
    background: #ffffff00;
    border-color: #0D519B;
    width: auto;
    height: auto;
    border-width: 3px;
    cursor: pointer;
    
    
}
.nosotros .btn-more-info .more-info p{
    justify-content: center;
    text-align: center;
    margin-bottom: 0px;
    
    padding: 10px;
    
}

  


.footer-container{
    background-color: #0D519B;
    width: 100%;
    height: auto;
    display: flex;
    font-family: 'Play', sans-serif;
}

.footer-container .main-content{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    justify-content: space-between;
    color: #fff;
    
}

.footer-container .logo-content{
   
    margin-top: 2rem;
    margin-bottom: 1rem;
    height: 160px;
    width: 400px;
    border-right: solid 3.2px #FFCC00;
    
}

.footer-container .logo-content img{
    margin-top: 70px;
    margin-left: 40px;
}
.footer-container .main-content{
    align-items: center;
    font-size: 18px;
}
.footer-container .main-content .item-content{
    padding-left: 5px;
}
.footer-container .main-content .item-content .item-top{
    display: flex;
    margin-left: 20px;
    margin-top: 20px;
}

.footer-container .main-content .item-content .item-top ul{
    list-style: none;
    padding: 20px;
    color: #fff;

}

.footer-container .main-content .item-content .item-top ul li a{
    text-decoration: none;
    color: #fff;
}

.footer-container .main-content .item-content .item-abajo{
    padding-left: 40px;
}

.footer-container .main-content .email-content {
    align-items: center;
    padding-top: 30px;
    padding-bottom: 40px;
    padding-left: 150px

    
}
.footer-container .send-email{
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.footer-container .send-email input{
    border-radius: 4px 0 0 4px ;
    border-width: 0px;
    height: 40px;
    
}
.footer-container .send-email input::placeholder{
    padding-left: 20px;
}
.footer-container .send-email button{
    width: 90px;
    background-color: #FFCC00;
    border-radius: 0 4px 4px 0;
    border-width: 0px;
    height: 40px;
}
.footer-container .social-media img{
    height: 45px;
    padding: 4px;
}
/* nosotros-somos */

.page-content-wrapper .mision-vision-container .mision-container{

    display: flex;
    flex-direction: row;
    gap: 10rem;
    align-items: center;
    padding: 4rem 0 4rem 25rem;
    
}
.page-content-wrapper .mision-vision-container .img-mision{
    padding-right: 0rem;
}
.page-content-wrapper .mision-vision-container .mision-container .mision-content{
    display: flex;
    background-color: #D9D9D9;
    width: 500px;
    height: 300px;
    align-items: center;
    
}
.page-content-wrapper .mision-vision-container .mision-container .mision-content .text-mision{
    padding-left: 2rem;
    padding-right: 2rem;
}

.page-content-wrapper .mision-vision-container .vision-container{
    display: flex;
    flex-direction: row-reverse;
    gap: 10rem;
    align-items: center;
    padding: 4rem 25rem 4rem 0rem;

}
.page-content-wrapper .mision-vision-container .img-vision{
    padding-left: 0rem;
}

.page-content-wrapper .mision-vision-container .vision-container .vision-content{
    display: flex;
    background-color: #D9D9D9;
    width: 500px;
    height: 300px;
    align-items:center;
}


.page-content-wrapper .mision-vision-container .vision-container .vision-content .text-vision{
    padding-left: 2rem;
    padding-right: 2rem;
}
/* ACCESORIOS-CASUAL-FORMAL */
.page-content-wrapper .carousel-desk img{
    width: 100%;
}
.page-content-wrapper .title-category{
    text-align: center;
    padding-top: 70px;
}
.page-content-wrapper .products-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 60px;
    padding: 50px;
    width: 100%;

}
.page-content-wrapper .products-container .product{
    
    background-color:#fff;
    padding: 0px;
    font-size: 20px;
    text-align: center;
    border: 3px solid #0D519B;

}
.page-content-wrapper .products-container .product img{
    padding-top: 30px;
}
.page-content-wrapper .products-container .product .text-container p{
    color: #898989;
}

@media(max-width:1024px){
    .element-right{
        display: flex;
        align-items: center;
        padding-left: 20%;
        gap: 6%;
    }
    .navigation-content .navigation-menu{
        padding-left: 2rem;
        padding-right: 1rem;
    }
    nav a {
        display: block;
        padding-left: 2rem;
        padding-right: 0.5rem;
        font-size: 24px;
        justify-content: space-between;
        text-decoration: none;
        color: #0D519B
    }
    
    
    .navigation-content .navigation-cart{
        display: flex;
        gap: 10%;
        padding-left: 0;
        padding-right: 3rem;
    }
    /* aqui cambiar */
    .nosotros .carousel{
        padding: 2.5rem;
     }
    .nosotros .text-container{
        padding:4rem 2rem 3rem 2rem ;
        text-align: center;
        font-size: 14px;
    }
    
    .nosotros .btn-more-info{
        
        text-align: center;
        align-items: center;
        
    }
    .nosotros .btn-more-info button{
       
        background: #ffffff00;
        border-color: #0D519B;
        width: auto;
        height: auto;
        border-width: 3px;
        cursor: pointer;
        
        
    }
    .nosotros .btn-more-info .more-info p{
        justify-content: center;
        text-align: center;
        margin-bottom: 0px;
        padding: 10px;
        
    }
    /* FOOTER */
    .footer-container .logo-content{
   
        margin-top: 2rem;
        margin-bottom: 1rem;
        height: 160px;
        width: 320px;
        border-right: solid 3.2px #FFCC00;
        
    }
    
    .footer-container .logo-content img{
        margin-top: 3.5rem;
        margin-left: 1.5rem;
    }
    .footer-container .main-content{
        align-items: center;
        font-size: 16px;
    }
    .footer-container .main-content .item-content{
        padding-left: 5px;
    }
    .footer-container .main-content .item-content .item-top{
        display: flex;
        margin-left: 20px;
        margin-top: 10px;
    }
    
    .footer-container .main-content .item-content .item-top ul{
        list-style: none;
        padding: 20px;
        color: #fff;
    
    }
    
    .footer-container .main-content .item-content .item-top ul li a{
        text-decoration: none;
        color: #fff;
    }
    
    .footer-container .main-content .item-content .item-abajo{
        padding-left: 40px;
    }
    
    .footer-container .main-content .email-content {
        align-items: center;
        padding-top: 2rem;
        padding-bottom: 2rem;
        padding-left: 2rem;
    
        
    }
    .footer-container .send-email{
        display: flex;
        align-items: center;
        margin-top: 0.5rem;
    }
    
    .footer-container .send-email input{
        border-radius: 4px 0 0 4px ;
        border-width: 0px;
        height: 40px;
        
    }
    .footer-container .send-email input::placeholder{
        padding-left: 20px;
    }
    .footer-container .send-email button{
        width: 90px;
        background-color: #FFCC00;
        border-radius: 0 4px 4px 0;
        border-width: 0px;
        height: 40px;
    }
    .footer-container .social-media img{
        height: 45px;
        padding: 4px;
    }

    /* NOSOTROS-SOMOS*/
    .page-content-wrapper .mision-vision-container .mision-container{

        display: flex;
        flex-direction: row;
        gap: 5rem;
        align-items: center;
        padding: 4rem 0 4rem 12rem;
        
    }
    .page-content-wrapper .mision-vision-container .img-mision{
        padding-right: 0rem;
    }
    .page-content-wrapper .mision-vision-container .mision-container .mision-content{
        display: flex;
        background-color: #D9D9D9;
        width: 500px;
        height: 300px;
        align-items: center;
        
    }
    .page-content-wrapper .mision-vision-container .mision-container .mision-content .text-mision{
        padding-left: 2rem;
        padding-right: 2rem;
    }
    
    .page-content-wrapper .mision-vision-container .vision-container{
        display: flex;
        flex-direction: row-reverse;
        gap: 10rem;
        align-items: center;
        padding: 4rem 5rem 4rem 0rem;
    
    }
    .page-content-wrapper .mision-vision-container .img-vision{
        padding-right: 2rem;
    }
  
}
@media(max-width:768px){

.navigation-content .navigation-menu{
    padding-left: 1rem;
    padding-right: 1rem;
}

nav a {
    display: block;
    padding-left: 1rem;
    padding-right: 0.2rem;
    font-size: 20px;
    justify-content: space-between;
    text-decoration: none;
    color: #0D519B
}
.element-right {
    padding-left: 1rem;

}   
.main-top-left{
    width: 280px;
}
.element-right .atencion-content img{
    height: 35px;
}
.element-right .atencion-content .atencion-text{
    font-size: 16px;
}
.element-right .atencion-content .atencion-text .phone-text{
    font-size: 18px;
}
.element-right .login-content a{
    font-size: 14px;
}
.element-right .login-content img{
    height: 45px;
}
.navigation-content .navigation-cart .btn-tiendas{
    width: 12rem;
    border-radius: 20px;
    
}
.navigation-content .navigation-cart .btn-tiendas img{
    height: 30px;
}
.navigation-content .navigation-cart .btn-tiendas .text-tiendas{
    font-size: 18px;
    padding-left: 0.5rem;
}
.navigation-content .navigation-cart .btn-carrito{
    width: 4rem;
}
.navigation-content .navigation-cart .btn-carrito img{
    height: 35px;
}
.nosotros .carousel{
    padding-top: 7rem;
 }
 .nosotros .carousel img{
    width: 250px;
 }
.nosotros .text-container{
    padding:4rem 0rem 3rem 0rem ;
    text-align: center;
    font-size: 14px;
}

.nosotros .btn-more-info{
    
    text-align: center;
    align-items: center;
    
}
.nosotros .btn-more-info button{
   
    background: #ffffff00;
    border-color: #0D519B;
    width: auto;
    height: auto;
    border-width: 3px;
    cursor: pointer;
    
    
}
.nosotros .btn-more-info .more-info p{
    justify-content: center;
    text-align: center;
    margin-bottom: 0px;
    padding: 10px;
    
}


.footer-container .logo-content{
   
    margin-top: 2rem;
    margin-bottom: 1rem;
    height: 160px;
    width: 240px;
    border-right: solid 3.2px #FFCC00;
    
}

.footer-container .logo-content img{
    margin-top: 3.5rem;
    margin-left: 0rem;
    width: 250px;
}
.footer-container .main-content{
    align-items: center;
    font-size: 16px;
}
.footer-container .main-content .item-content{
    padding-left: 0px;
}
.footer-container .main-content .item-content .item-top{
    display: flex;
    margin-left: 10px;
    margin-top: 10px;
}

.footer-container .main-content .item-content .item-top ul{
    list-style: none;
    padding: 10px;
    color: #fff;

}

.footer-container .main-content .item-content .item-top ul li a{
    text-decoration: none;
    color: #fff;
}

.footer-container .main-content .item-content .item-abajo{
    padding-left: 20px;
}

.footer-container .main-content .email-content {
    align-items: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-left: 0rem;
    padding-right: 1.5rem;

    
}
.footer-container .send-email{
    display: flex;
    align-items: center;
    margin-top: 0.5rem;
}

.footer-container .send-email input{
    border-radius: 4px 0 0 4px ;
    border-width: 0px;
    height: 40px;
    
}
.footer-container .send-email input::placeholder{
    padding-left: 20px;
}
.footer-container .send-email button{
    width: 90px;
    background-color: #FFCC00;
    border-radius: 0 4px 4px 0;
    border-width: 0px;
    height: 40px;
}
.footer-container .social-media img{
    height: 45px;
    padding: 4px;
}
.page-content-wrapper .products-container{
   
    gap: 2rem;
    padding: 3rem;
    width: 20rem;

}
.page-content-wrapper .products-container .product{
    
    background-color:#fff;
    padding: 0px;
    font-size: 20px;
    text-align: center;
    border: 3px solid #0D519B;
    height: 30rem;
}
.page-content-wrapper .products-container .product img{
    width: 12rem;
}
.page-content-wrapper .products-container .product .text-container p{
    color: #898989;
}
.page-content-wrapper .mision-vision-container .mision-container{
    padding-right: 2rem;
}
.page-content-wrapper .mision-vision-container .vision-container{
    padding-left: 2rem;
}
}

@media(max-width:320px){
   
    .navigation-content .navigation-menu{
        padding-left: 0.5rem;
        padding-right: 0.5rem;
    }
    .main-top-left img{
        width: 200px;
       
    }
    nav a {
        display: block;
        font-size: 12px;
        text-decoration: none;
        color: #0D519B
    }
    .element-right {
        padding-left: 1rem;
    
    }   
    .navigation-content{
        height: 4rem;
    }
    .main-top-left{
        width: 14rem;
    }
    .element-right .atencion-content img{
        height: 25px;
    }
    .element-right .atencion-content .atencion-text-content{
        display: none;
    }
    
    .element-right .login-content a{
        display: none;
    }
    .element-right .login-content img{
        height: 35px;
    }
    
    .navigation-content .navigation-cart .btn-tiendas{
        width: 12rem;
        border-radius: 20px;
        
    }
    .navigation-content .navigation-cart .btn-tiendas img{
        height: 30px;
    }
    .navigation-content .navigation-cart .btn-tiendas .text-tiendas{
        font-size: 18px;
        padding-left: 0.5rem;
    }
    .navigation-content .navigation-cart .btn-carrito{
        width: 4rem;
    }
    .navigation-content .navigation-cart .btn-carrito img{
        height: 35px;
    }
    .nosotros .carousel{
        padding-top: 7rem;
     }
     .nosotros .carousel img{
        width: 250px;
     }
    .nosotros .text-container{
        padding:4rem 0rem 3rem 0rem ;
        text-align: center;
        font-size: 14px;
    }
    
    .nosotros .btn-more-info{
        
        text-align: center;
        align-items: center;
        
    }
    .nosotros .btn-more-info button{
       
        background: #ffffff00;
        border-color: #0D519B;
        width: auto;
        height: auto;
        border-width: 3px;
        cursor: pointer;
        
        
    }
    .nosotros .btn-more-info .more-info p{
        justify-content: center;
        text-align: center;
        margin-bottom: 0px;
        padding: 10px;
        
    }
    
    
    .footer-container .logo-content{
       
        margin-top: 2rem;
        margin-bottom: 1rem;
        height: 160px;
        width: 240px;
        border-right: solid 3.2px #FFCC00;
        
    }
    
    .footer-container .logo-content img{
        margin-top: 3.5rem;
        margin-left: 0rem;
        width: 250px;
    }
    .footer-container .main-content{
        align-items: center;
        font-size: 16px;
    }
    .footer-container .main-content .item-content{
        padding-left: 0px;
    }
    .footer-container .main-content .item-content .item-top{
        display: flex;
        margin-left: 10px;
        margin-top: 10px;
    }
    
    .footer-container .main-content .item-content .item-top ul{
        list-style: none;
        padding: 10px;
        color: #fff;
    
    }
    
    .footer-container .main-content .item-content .item-top ul li a{
        text-decoration: none;
        color: #fff;
    }
    
    .footer-container .main-content .item-content .item-abajo{
        padding-left: 20px;
    }
    
    .footer-container .main-content .email-content {
        align-items: center;
        padding-top: 2rem;
        padding-bottom: 2rem;
        padding-left: 0rem;
        padding-right: 1.5rem;
    
        
    }
    .footer-container .send-email{
        display: flex;
        align-items: center;
        margin-top: 0.5rem;
    }
    
    .footer-container .send-email input{
        border-radius: 4px 0 0 4px ;
        border-width: 0px;
        height: 40px;
        
    }
    .footer-container .send-email input::placeholder{
        padding-left: 20px;
    }
    .footer-container .send-email button{
        width: 90px;
        background-color: #FFCC00;
        border-radius: 0 4px 4px 0;
        border-width: 0px;
        height: 40px;
    }
    .footer-container .social-media img{
        height: 45px;
        padding: 4px;
    }
    .page-content-wrapper .products-container{
       
        gap: 2rem;
        padding: 3rem;
        width: 20rem;
    
    }
    .page-content-wrapper .products-container .product{
        
        background-color:#fff;
        padding: 0px;
        font-size: 20px;
        text-align: center;
        border: 3px solid #0D519B;
        height: 30rem;
    }
    .page-content-wrapper .products-container .product img{
        width: 12rem;
    }
    .page-content-wrapper .products-container .product .text-container p{
        color: #898989;
    }
    .page-content-wrapper .mision-vision-container .mision-container{
        padding-right: 2rem;
    }
    .page-content-wrapper .mision-vision-container .vision-container{
        padding-left: 2rem;
    }
}
