@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Play&family=Poppins:wght@200&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

header {
  font-size: 16px;
  font-family: "Play", sans-serif; }
  header .main-top-bar {
    background-color: #0D519B;
    padding: 1rem 1rem 1rem 0rem;
    width: 100%;
    display: flex;
    direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: none; }
    header .main-top-bar .main-top-left {
      display: flex; }
      header .main-top-bar .main-top-left .atencion-container {
        display: flex;
        direction: column;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        gap: none; }
        header .main-top-bar .main-top-left .atencion-container img {
          height: 3rem; }
        header .main-top-bar .main-top-left .atencion-container .atencion-content p:nth-child(1) {
          color: #FFCC00;
          margin: 0;
          margin-top: 5px; }
        header .main-top-bar .main-top-left .atencion-container .atencion-content p:nth-child(2) {
          color: #fff; }
      header .main-top-bar .main-top-left .login-container {
        margin-left: 4rem;
        margin-right: 1.5rem; }
        header .main-top-bar .main-top-left .login-container a {
          text-decoration: none;
          color: #fff; }

header .navbar {
  font-size: 20px;
  background-color: #D9D9D9;
  padding-left: 5rem;
  width: 100%; }
  header .navbar ul li {
    margin-right: 6rem; }
    header .navbar ul li a {
      color: #0D519B; }
    header .navbar ul li a:hover {
      color: whitesmoke; }

main .visitanos-container .tienda-content span {
  background-color: #D9D9D9;
  border-radius: 3px;
  padding: 0.35rem; }

main .carousel .carousel-item img {
  max-height: 700px; }

main .home-container {
  margin: 8rem;
  display: flex;
  gap: 5rem; }
  main .home-container .text-container {
    margin: 5rem;
    text-align: center; }
  main .home-container img {
    max-width: 25rem;
    height: 40rem; }

main .products-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: none;
  align-items: none;
  gap: 2rem;
  padding: 0 5rem 0 5rem;
  margin-top: 2rem;
  padding-bottom: 7rem;
  width: 100%; }
  main .products-container .product {
    align-items: center;
    text-align: center;
    border: 3px solid #0D519B; }

main {
  font-family: "Poppins", sans-serif; }
  main h1 {
    text-align: center;
    padding: 2rem; }
  main .visitanos-container {
    margin-top: 2rem;
    margin-bottom: 2rem; }
    main .visitanos-container .tienda-container {
      display: flex;
      direction: column;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;
      gap: none;
      border: solid 3px black;
      margin: 5rem 8rem 5rem 8rem; }
      main .visitanos-container .tienda-container .tienda-content {
        margin: 1rem; }
        main .visitanos-container .tienda-container .tienda-content h2 {
          padding-bottom: 1rem; }
        main .visitanos-container .tienda-container .tienda-content .info-content {
          padding: 1rem; }
        main .visitanos-container .tienda-container .tienda-content .asesores-content {
          padding: 1rem; }
      main .visitanos-container .tienda-container iframe {
        margin: 2rem 4rem 2rem 0;
        max-width: 28rem; }

footer {
  font-family: "Play", sans-serif;
  font-size: 16px; }
  footer .max-container {
    background-color: #0D519B;
    display: flex;
    direction: column;
    flex-wrap: none;
    justify-content: space-between;
    align-items: center;
    gap: none;
    color: #fff; }
    footer .max-container .main-content {
      display: flex;
      direction: column;
      flex-wrap: none;
      justify-content: space-between;
      align-items: center;
      gap: none;
      width: 100%; }
      footer .max-container .main-content .logo-content {
        display: flex;
        align-self: center; }
      footer .max-container .main-content .item-content {
        margin-top: 1rem;
        margin-bottom: 1rem; }
        footer .max-container .main-content .item-content .item-top {
          display: flex; }
          footer .max-container .main-content .item-content .item-top ul {
            padding: 0;
            margin: 1rem; }
            footer .max-container .main-content .item-content .item-top ul li {
              list-style: none; }
              footer .max-container .main-content .item-content .item-top ul li a {
                text-decoration: none;
                color: #fff; }
              footer .max-container .main-content .item-content .item-top ul li a:hover {
                color: rgba(0, 0, 0, 0.575); }
        footer .max-container .main-content .item-content .item-bottom p {
          margin: 1rem; }
      footer .max-container .main-content .email-content {
        margin-right: 5rem;
        margin-top: 1rem;
        margin-bottom: 1rem; }
        footer .max-container .main-content .email-content .send-email {
          display: flex; }
          footer .max-container .main-content .email-content .send-email input {
            border-radius: 4px 0 0 4px;
            border-width: 0px;
            height: 35px; }
          footer .max-container .main-content .email-content .send-email input::placeholder {
            padding-left: 20px; }
          footer .max-container .main-content .email-content .send-email button {
            padding: 0;
            width: 90px;
            background-color: #FFCC00;
            border-radius: 0 4px 4px 0;
            border-width: 0px; }
        footer .max-container .main-content .email-content .social-media a img {
          margin-top: 10px;
          height: 35px;
          padding-right: 10px; }

@media (max-width: 1024px) {
  header {
    font-size: 14px; }
    header .main-top-bar a img {
      width: 12rem; }
    header .main-top-bar .main-top-left .atencion-container img {
      display: flex;
      align-items: center;
      height: 2rem; }
    header .main-top-bar .main-top-left .login-container {
      display: flex;
      align-items: center; }
      header .main-top-bar .main-top-left .login-container img {
        height: 2rem; }
  main {
    font-size: 14px; }
    main .carousel .carousel-item img {
      max-height: 500px; }
    main .home-container {
      margin: 5rem;
      display: flex;
      gap: 3rem; }
      main .home-container .text-container {
        font-size: 0.7rem;
        margin: 5rem 1.5rem 0 3rem;
        text-align: center;
        max-width: 30rem; }
      main .home-container img {
        margin-top: 5rem;
        max-width: 14rem;
        height: 25rem; }
    main section h1 {
      font-size: 32px; }
    main section .products-container .product img {
      margin-top: 2rem;
      max-width: 12rem; }
    main .visitanos-container {
      font-size: 12px; }
      main .visitanos-container .tienda-container .tienda-content {
        max-width: 12rem; }
        main .visitanos-container .tienda-container .tienda-content h2 {
          font-size: 18px; }
      main .visitanos-container .tienda-container iframe {
        max-width: 20rem;
        max-height: 20rem; }
  footer {
    font-size: 14px; }
    footer .max-container {
      flex-wrap: nowrap; }
      footer .max-container .main-content {
        flex-wrap: nowrap; }
        footer .max-container .main-content .logo-content {
          margin-right: 2rem; }
          footer .max-container .main-content .logo-content img {
            width: 14rem; }
        footer .max-container .main-content .email-content {
          font-size: 12px;
          margin-left: 10rem; }
          footer .max-container .main-content .email-content .send-email {
            font-size: 12px;
            margin-bottom: 10px; }
            footer .max-container .main-content .email-content .send-email input {
              width: 8rem; }
            footer .max-container .main-content .email-content .send-email input::placeholder {
              padding-left: 15px; }
            footer .max-container .main-content .email-content .send-email button {
              width: 4rem; }
          footer .max-container .main-content .email-content .social-media a img {
            margin-top: 10px;
            height: 30px;
            padding-right: 10px; } }

@media (max-width: 768px) {
  header {
    font-size: 10px; }
    header .navbar {
      padding-left: 1rem; }
    header .main-top-bar:nth-child(1) a img {
      width: 9rem; }
    header .main-top-bar {
      padding: 1rem 0.4rem 1rem 0rem; }
      header .main-top-bar .main-top-left .login-container {
        margin-left: 1rem;
        margin-right: 0.5rem; }
        header .main-top-bar .main-top-left .login-container img {
          height: 1.5rem; }
      header .main-top-bar .main-top-left .atencion-container img {
        height: 1.5rem; }
  main .carousel .carousel-item img {
    max-height: 400px; }
  main .home-container {
    margin: 2rem;
    display: flex;
    gap: 1rem; }
    main .home-container .text-container {
      font-size: 0.67rem;
      margin: 5rem 1.5rem 0 3rem; }
    main .home-container img {
      margin-top: 5rem;
      max-width: 12rem;
      height: 20rem; }
  main .products-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: none;
    align-items: none;
    gap: none; }
    main .products-container .product img {
      width: 10rem; }
  main .visitanos-container {
    font-size: 12px; }
    main .visitanos-container .tienda-container {
      margin: 2rem; }
      main .visitanos-container .tienda-container .tienda-content {
        margin-left: 1rem;
        max-width: 12rem; }
        main .visitanos-container .tienda-container .tienda-content h2 {
          font-size: 18px; }
      main .visitanos-container .tienda-container iframe {
        margin-left: 2rem;
        max-width: 15rem;
        max-height: 15rem; }
  footer {
    font-size: 12px; }
    footer .max-container .main-content .item-content .item-top {
      flex-direction: column; }
    footer .max-container .main-content .logo-content {
      margin-right: 0.5rem; }
      footer .max-container .main-content .logo-content img {
        width: 10rem; }
    footer .max-container .main-content .email-content {
      font-size: 12px;
      margin-left: 1rem;
      margin-right: 1rem; }
      footer .max-container .main-content .email-content .send-email {
        font-size: 12px;
        margin-bottom: 10px; }
        footer .max-container .main-content .email-content .send-email input {
          width: 8rem; }
        footer .max-container .main-content .email-content .send-email input::placeholder {
          padding-left: 15px; }
        footer .max-container .main-content .email-content .send-email button {
          width: 4rem; } }

@media (max-width: 480px) {
  main .home-container {
    flex-direction: column; }
    main .home-container img {
      align-self: center; }
  footer .max-container .main-content {
    width: 100%; }
    footer .max-container .main-content .email-content p {
      display: none; }
    footer .max-container .main-content .email-content .send-email {
      display: none; }
    footer .max-container .main-content .email-content .terms-conditions {
      display: none; }
    footer .max-container .main-content .email-content .social-media {
      display: flex;
      flex-direction: column;
      margin-right: 1rem;
      align-self: center; } }

@media (max-width: 425px) {
  header {
    font-size: 8px; }
    header .main-top-bar:nth-child(1) a img {
      width: 7rem; }
    header .navbar ul li a {
      font-size: 12px; }
    header .main-top-bar {
      padding: 0; }
      header .main-top-bar .main-top-left {
        font-size: 7px; }
        header .main-top-bar .main-top-left .atencion-container .atencion-content {
          align-items: center; }
        header .main-top-bar .main-top-left .atencion-container img {
          height: 20px;
          padding-bottom: 5px; }
        header .main-top-bar .main-top-left .login-container {
          margin-left: 0.5rem;
          margin-right: 0.5rem; }
          header .main-top-bar .main-top-left .login-container img {
            height: 20px; }
    header .navbar {
      padding-left: 0rem; }
  main .carousel .carousel-item img {
    max-height: 250px; }
  main .home-container {
    margin: 2rem;
    display: flex;
    gap: 1rem; }
    main .home-container .text-container {
      font-size: 0.67rem;
      margin: 5rem 0.5rem 0 0.5rem; }
  main .products-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-content: none;
    align-items: none;
    gap: none; }
    main .products-container .product img {
      width: 10rem; }
  main .visitanos-container {
    font-size: 12px; }
    main .visitanos-container .tienda-container {
      display: flex;
      flex-direction: column;
      margin: 2rem; }
      main .visitanos-container .tienda-container .tienda-content {
        margin-left: 1rem;
        max-width: 12rem; }
        main .visitanos-container .tienda-container .tienda-content h2 {
          font-size: 18px; }
      main .visitanos-container .tienda-container iframe {
        margin-left: 0.5rem;
        margin-right: 0.5rem;
        max-width: 12rem;
        max-height: 15rem; } }
