header{
    font-size: 16px;
    font-family:$fontPlay;
    .main-top-bar{
        background-color: $background-principal;
        padding: 15px;
        width: 100%;
        @include flex(column,wrap,space-between,center,none);
        .main-top-left{
            display: flex;
            .atencion-container{
                
                img{
                    height: 40px;
                }
                @include flex(column,wrap,space-between,center,none);
                .atencion-content{
                    p:nth-child(1){
                        color:$background-secondary;
                        margin: 0;
                        margin-top: 5px;
                    }
                    p:nth-child(2){
                        color: #fff;
                    }
                }
            }
            .login-container{
                
                    margin-left: 50px;
                    margin-right: 20px;
                    a{
                        text-decoration: none;
                        color: #fff;
                        
                    }
                   
                
            }
            
        }
    }
    
}