main{
    .carousel{
        .carousel-item{
            img{
               max-height: 700px;
            }
        }
       
    }
    .home-container{
        margin: 8rem;
        display: flex;
        gap: 5rem;

        .text-container{
            margin: 5rem;
            text-align: center;
        }
        
        img{
           
            max-width: 25rem;
            height: 40rem;
        }

        
    }
}