@media (max-width:1024px) {
    header {
        font-size: 14px;

        .main-top-bar {
            a {
                img {
                    width: 12rem;
                }
            }

            .main-top-left {
                .atencion-container {

                    img {
                        display: flex;
                        align-items: center;
                        height: 2rem;
                    }
                }

                .login-container {
                    display: flex;
                    align-items: center;

                    img {
                        height: 2rem;
                    }
                }
            }
        }

    }

    main {
        font-size: 14px;

        .carousel {
            .carousel-item {
                img {
                    max-height: 500px;
                }
            }

        }

        .home-container {
            margin: 5rem;
            display: flex;
            gap: 3rem;

            .text-container {
                font-size: 0.7rem;
                margin: 5rem 1.5rem 0 3rem;
                text-align: center;
                max-width: 30rem;
            }

            img {
                margin-top: 5rem;
                max-width: 14rem;
                height: 25rem;
            }


        }

        section {
            h1 {
                font-size: 32px;
            }

            .products-container {

                .product {
                    img {
                        margin-top: 2rem;
                        max-width: 12rem;
                    }


                }
            }
        }

        .visitanos-container {

            font-size: 12px;

            .tienda-container {

                .tienda-content {

                    max-width: 12rem;

                    h2 {
                        font-size: 18px;
                    }
                }

                iframe {

                    max-width: 20rem;
                    max-height: 20rem;

                }
            }

        }
    }

    footer {
        font-size: 14px;

        .max-container {
            flex-wrap: nowrap;

            .main-content {
                .logo-content {
                    img {
                        width: 14rem;
                    }

                    margin-right: 2rem;
                }

                flex-wrap: nowrap;

                .email-content {
                    font-size: 12px;
                    margin-left: 10rem;

                    .send-email {
                        font-size: 12px;
                        margin-bottom: 10px;

                        input {
                            width: 8rem;

                        }

                        input::placeholder {
                            padding-left: 15px;
                        }

                        button {
                            width: 4rem;

                        }
                    }

                    .social-media {

                        a {

                            img {
                                margin-top: 10px;
                                height: 30px;
                                padding-right: 10px;
                            }
                        }
                    }

                }
            }
        }
    }
}