@media(max-width:768px){
    header{
        font-size: 10px;
        
        .navbar{
            padding-left: 1rem;
        }
        .main-top-bar:nth-child(1){
            a img{
                width: 9rem;
            }
        }
      
        .main-top-bar{
            padding: 1rem 0.4rem 1rem 0rem;
            .main-top-left{
                .login-container{
                    margin-left: 1rem;
                    margin-right: 0.5rem;
                    img{
                        height: 1.5rem;
                    }
                }
                .atencion-container{
                
                    img{
                     
                        height: 1.5rem;
                    }
                }
                
            }
        }
        
    }
    main{
        .carousel{
            .carousel-item{
                img{
                    max-height: 400px;
                }
            }
        }
        .home-container{
            margin: 2rem;
            display: flex;
            gap: 1rem;
            
            .text-container{
                font-size: 0.67rem;
                margin: 5rem 1.5rem 0 3rem;
                
            }
            
            img{
                margin-top: 5rem;
                max-width: 12rem;
                height: 20rem;
            }
    
            
        }
        .products-container{
            @include grid(2,none,none,none);
            .product{
                img{
                   width: 10rem;
                }
            }

        }
        
        .visitanos-container{
          
            
            font-size: 12px;
            .tienda-container{
                margin: 2rem;
                .tienda-content{
                    margin-left: 1rem;
                    max-width: 12rem;
                    h2{
                        font-size: 18px;
                    }
                }
                iframe{
                    margin-left: 2rem;
                    max-width: 15rem;
                    max-height: 15rem;
                    
                }
            }
            
        }
    }
    footer{
        font-size: 12px;
        .max-container{
            .main-content{
                .item-content{
                    .item-top{
                        flex-direction: column;
                    }
                }
                .logo-content{
                    margin-right: 0.5rem;
                    img{
                        width: 10rem;
                    }
                }
                .email-content{
                   font-size: 12px;
                    margin-left: 1rem;
                    margin-right: 1rem;
                   
                    .send-email{
                        font-size: 12px;
                        margin-bottom: 10px;
                        input{
                           width: 8rem;
                            
                        }
                        input::placeholder{
                            padding-left: 15px;
                        }
                        button{
                            width: 4rem;
                           
                        }
                    }
                    
    
                }
            }
        }
    }

}
@media (max-width:480px){
    main{
        .home-container{
            flex-direction: column;
            img{
                align-self: center;

            }
        }
       
    }
    footer{
        .max-container{
            .main-content{
                width: 100%;
                .email-content{
                    p{
                        display: none;
                    }
                    .send-email{
                        display: none;
                    }
                    .terms-conditions{
                        display: none;
                    }
                   .social-media{
                    display: flex;
                    flex-direction: column;
                    margin-right: 1rem;
                    align-self: center;
                   }
                
                }
            
        }
        }
   
    }
}