main {
    .visitanos-container {

        .tienda-content {
            span {

                background-color: $gray-color;
                border-radius: 3px;
                padding: 0.35rem;
            }
        }
    }
}